.main-page{
  background-color: #600DFF;
  height: 100vh;
  position: relative;
  .row{
    margin-left: -15px;
    margin-right: 0px;
    width: 100%;
    height: 100vh;
    .col-md-3{
      .image{
        bottom: 0;
        position: absolute;
        margin-bottom: 1rem;
      }
      #image1{
        width: 122%;
        margin-left: -20px;
      }
      #image2{
        width: 115%;
        bottom: -16px;
        right: 32px;
      }
    }
    .col-md-6{
      display: flex;
      color: white;
      h1{
        font-weight: 900;
        font-size: 65px;
        margin-top: 120px;
        width: fit-content;
      }  
      p{
        font-weight: 900;
        margin-bottom: 1rem;
        width: fit-content;
      }
    }
    .lushacount{
      .a{
        font-size: clamp(30px,4vw,40px);
      }
    }
  }
}
.container{
  margin-bottom: 100px;
  .row{
    margin-top: 0;
    .col-md-12{
      .over{
        display: flex;
        text-align: center;
        p{
          margin-top: -90px;
          margin: auto;
          font-family: "Circular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          font-size: 1.25em;
          line-height: 1.2;
          letter-spacing: -.03em;
        }
      }
    }
  }
  #accurate{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
  }
  #video{
    position: relative;
    display: flex;
    justify-content: center;
    .col-md-9{
      .video1{
        width: 90%;
        top: 0;
      }
    }
  }
  #discover{
    position: relative;
    justify-content: center;
    text-align: left;
      h2{
        font-weight: bolder;
        font-size: 20px;
        color: black;
      }
    
  }
  #block{
    position: relative;
    justify-content: center;
    text-align: center;
    h5{
      font-weight: bolder;
    }
  }
  #accurate{
    .col-md-12, .col-12{
      position: relative;
      display: flex;
      justify-content: center;
    }
    h2{
      font-size: 50px;
      font-weight: 900;
      font-family: Inter,sans-serif;
      color: black;
      text-align: center;
      padding-bottom: 20px;
    }
  }
  #logo{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  #star{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    .col-md-2, .col-6{
      position: relative;
      justify-content: center;
      p{
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  #sale{
    position: relative;
    justify-content: center;
    .col-md-12, .col-12{
      position: relative;
      justify-content: center;
      h2{
        font-family: "Circular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-weight: 900;
        font-size: 42px;
        color: black;
      }
    }
  }
}

@media (max-width: 576px){
  #main-part{
  .col-12{
    justify-content: left;
    h1 {
      font-size: 3rem;
      margin-top: 70px;
      font-weight: bold;
      width: fit-content;
      }
    }
    p{
      width: fit-content;
    }
    .image{
      display: none;
    }
  }
  #logo{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    #image7{
      margin-left: 100px;
    }
  }
  #video{
    position: relative;
    display: flex;
    justify-content: center;
    .col-md-12{
      .video1{
        width: 90%;
      }
    }
  }
  #accurate{
    .col-md-12, .col-12{
      position: relative;
    display: flex;
    justify-content: center;
    }
  }
}
