.container{
  margin-top: 20px;
  .index-module{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1105px;
    width: calc(100% - var(--float-layout-margin-side));
    h1{
      color: black;
      font-family: Poppins,sans-serif;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.38;
      margin: 0 0 -15px;
      max-width: 800px;
      text-align: center;
    }
    p{
      color: var(--float-color-grey-600);
      font-family: Inter,sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.55;
      padding: 30px 0;
      text-align: center;
    }
  }
  .center-image{
    display: flex;
    justify-content: center;
  }
  .try-free{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1105px;
    width: calc(100% - var(--float-layout-margin-side));
    .btn{
      background-color: rgb(57, 9, 102);
      border:  rgb(57, 9, 102);
    }
  }
  .ul{
    margin: 50px 0 0;
    display: flex;
    list-style: none;
    li{
      color: var(--float-color-grey-600);
      display: flex;
      font-family: Inter,sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.55;
      padding: 10px 60px;
      width: 50%;
    
      &:first-child{
        justify-content: flex-end;
        color: var(--float-color-grey-600);
        display: flex;
        font-family: Inter,sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 1.55;
        padding: 10px 60px;
        width: 50%;
      }
      .li{
        flex-basis: 34.3891402715%;
        padding-right: 5.5%;
        h1{
          color: var(--float-color-green-700);
          font-family: Inter,sans-serif;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 1.33;
          margin-left: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
  .row{
    .col-md-12, .col-12{
      .image1{
        width: 100%;
        left: 0;
        right: 0;
      }
      h2{
        font-size: 15px;
        font-weight: 500;
        font-family: Inter,sans-serif;
        color: #405868;
        text-align: center;
        padding-bottom: 20px;
      }
    }
    .col-12, .col-md-4{
      .capacity, .project, .resource{
        h3{
          font-size: 18px;
          font-weight: 700;
          font-family: Poppins,sans-serif;
          color: black;
        }
        p{
          font-size: 14px;
          font-weight: 400;
          font-family: Inter,sans-serif;
          color: #405868;
        }
      }
    }
    .col-6, .col-md-3{
      .logocont{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
      }
    }
    .col-md-6, .col-12{
      .image{
        width: 100%;
      }
      .forecast{
        h3{
          font-size: 18px;
          font-weight: 500;
          font-family: Inter,sans-serif;
          color:#0bd7cc;
          padding: 10px;
        }
        h4{
          font-size: 18px;
          font-weight: 700;
          font-family: Poppins,sans-serif;
          color: black;
        }
        p{
          font-size: 16px;
          font-weight: 400;
          font-family: Inter,sans-serif;
          color: #405868;
        }
      }
      .direct{
        h3{
          font-size: 15px;
          font-weight: 500;
          font-family: Inter,sans-serif;
          color:blue;
          padding-bottom: 20px;
        }
        h4{
          font-size: 28px;
          font-weight: 700;
          font-family: Poppins,sans-serif;
          color: black;
        }
        h2{
          font-size: 18px;
          font-weight: 500;
          font-family: Inter,sans-serif;
          color:black; 
          text-align: left;
        }
        p{
          font-size: 14px;
          font-weight: 400;
          font-family: Inter,sans-serif;
          color: #405868;
        }
      }
      .mobile{
        h3{
          font-size: 20px;
          font-weight: 500;
          font-family: Inter,sans-serif;
          color:#f786b6;
          padding: 10px;
        }
        h4{
          font-size: 28px;
          font-weight: 700;
          font-family: Poppins,sans-serif;
          color: black;
        }
      }
    }
    .col-12, .col-md-12{
      .last-head{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        text-align: center;
        h2{
          font-size: 34px;
          font-weight: 700;
          font-family: Poppins,sans-serif;
          color: black;
          padding: 10px;
        }
        p{
          font-size: 20px;
          font-weight: 400;
          font-family: Inter,sans-serif;
          color: #405868;
          padding: 10px;
        }
      }
      .last-btn{
        display: block;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
      }
      .bird{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        text-align: center;
      }
    }
  }
}