.container-fluid{
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  .floatfooter{
    .row{
      .col-12, .col-md-3{
        .last{
          margin-top: 60px;
        }
        ul{
          list-style: none;
          li{
            color: grey;
          }
        }
      }
    }
  }
}