$font-color: white;
.bg-primary{
  background-color: blue !important;
}
.navbar-brand{
  color: $font-color;
  font-weight: bold;
}
.nav-link{
  color: $font-color;
  font-weight: bold;
}

.navbar-nav{
  align-self: center;
}

.btn-light{
  border-radius: 100px;
}
.navbar{
  #responsive-navbar-nav{
    .mr-auto{
      margin-left: 360px;
    }
  }
}